<%- include('../partials/boilerplate') %>
<%- include('../partials/nav') %>

<h1>Home</h1>

<h2>Cases</h2>

<div>
    <% cases.forEach((certainCase) => { %>
        <li><a href="/<%=certainCase.id%>"><%=certainCase.title%></a></li>
    <%})%>
</div>
<a href='/new'>New Case</a>

<%- include('../partials/end') %>