<%- include('../partials/boilerplate') %>
<%- include('../partials/nav') %>

<h1><%= certainCase.title %></h1>
<h2><%= certainCase.date %></h2>

<div>
    <h2>Tags</h2>
    <p><%= certainCase.keywords %></p>
</div>

<div>
    <h2>Description</h2>
    <p><%= certainCase.description %></p>
</div>

<div>
    <h2>Decision</h2>
    <p><%= certainCase.decision %></p>
</div>


<%- include('../partials/end') %>